*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Source Code Pro', monospace;
}

.bg{
  background: #077cb3;
}
.main-navbar-light{
  background:transparent!important;
  position: absolute;
  left:0;
  right:0;
  z-index:3;
  top:10px;
}

 .hero-wrap{
  width:100%;
  height:850px;
  position:relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index:0;
}
.hero-wrap .overlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  content:"";
  opacity: .5;
  background: #077cb3;
  height: 850px;
}
.hero-wrap .main-text{
  height:800px!important;

}
.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s underline 1s forwards;
}

.main-text h1{
  font-size:60px;
  color:#fff;
  line-height:1.1;
  font-weight: bold;

}
.main-text p{
  line-height: 1.5;
 color:#fff;
}


  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(31, 33, 34);
    border: 2px solid rgb(34, 77, 184);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }

  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(45, 71, 201);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .button:hover::before {
    scale: 3;
  }

  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }

  .button:active {
    scale: 1;
  }

 .popular {
  background-image: url(https://i.postimg.cc/mgQkS98s/hero-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 180px;
  padding-bottom: 340px;
}
.popular:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:linear-gradient(rgba(26, 144, 255, 0.5),rgba(236, 5, 236, 0.4)),
  url(./images/hero-2.jpg)center;
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
}
.all-image {
  padding-bottom: 75px;
  position: relative;
  margin-top: -295px;
}
.all-image .single-img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.all-image .single-img .img-thumb {
  height: 410px;
}
.all-image .single-img .img-thumb img {
  width: 100%;
  height: 100%;
}
.all-image .single-img .img-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(2, 58, 110, 0.6);
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}
.all-image .single-img .img-hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.all-image .single-img .img-hover h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.all-image .single-img .img-hover p{
  color:#fff;
}
.all-image .single-img:hover .img-hover {
  transform: translateX(0%);
  opacity: 1;
} 
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #077cb3;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

